<!DOCTYPE html><html lang="en"><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="gold bar, gold coins, gold accessories">
    <meta name="keywords" content="gold bar, gold coins, gold accessories">
	<meta name="author" content="RUBYSOFT">
    <link rel="icon" sizes="57x57" href="{{ url_for('static', filename='images/n-logo_1.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/favi-57.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/favi-72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/favi-114.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/favi-144.png') }}">

	<title>Rozaini Gold Bullion And Jewellery</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
	<!--<script src="js/Chart.js"></script>-->


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&amp;display=swap" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/animate.min_1.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/owl.carousel.min.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-icons.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/owl.carousel.min_1.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/owl.theme.default.min.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/jarallax.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
<!-- <link href="css/main.css?ver=10" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script async src="{{ url_for('static', filename='js/analytics.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
	<script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<style>
@media screen and (max-width: 1401px) {
	.block {display: block;}
	.navbar-toggler {display: block;}
	.logo {width: 12%;}
	.navImg {display: none;}
	.corpBlock {display: block;}
	.navbar-expand-lg .navbar-nav .nav-link {padding-right: 0;padding-left: 0;}
}
@media screen and (min-width: 1401px) {
	.block {display: none;}
	.navbar-toggler {display: none;}
	.navImg {display: block;}
	.corpBlock {display: none;}
	.navbar-expand-lg .navbar-nav .nav-link {padding-right: 3rem;padding-left: 3rem;}

}
@media screen and (max-width: 768px) {
	.logo {width: 50%;}
}
@media screen and (max-width: 469px) {
	.logo {width: 80%;}
}
.navbar-brand {	width: 80%;	}
li.nav-item {white-space: nowrap;}
.pload {width:40px; height:30px !important;}
#hours{
	margin-top: 20px;
	text-align: center;
	font-size: 1rem;
}
</style></head>



<body id="top">




	<main>

		<nav class="navbar navbar-expand-lg fixed-top shadow-lg">
			<div class="container">
				<a class="navbar-brand mx-auto  block" href="index.php">
					<img class="logo" src="{{ url_for('static', filename='images/n-logo_1.png')}}" alt>
				</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse menu" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item ">
							<a class="nav-link" href="index.php">HOME</a>
						</li>

						<li class="nav-item active">
							<a class="nav-link" href="product.php">PRODUCTS</a>
						</li>

						<a class="navbar-brand navImg" href="index.php">
							<img src="{{ url_for('static', filename='images/n-logo.png')}}" alt style="height:80px; padding: 0 10px">
						</a>

						<li class="nav-item navImg">
							<!-- <a class="nav-link color nav-dropdown">ABOUT US</a> -->
							<div class="dropdown">
								<a class="nav-link color nav-dropdown">ABOUT US</a>
								<ul class="dropdown-content">
									<li style="list-style: none;" class="nav-item d-none d-lg-block">
										<a href="about.php#ours" class="nav-link">OUR STORY</a>
									</li>
									<li style="list-style: none;" class="nav-item d-none d-lg-block">
										<a href="service.php" class="nav-link">SERVICES</a>
									</li>
									<li style="list-style: none;" class="nav-item d-none d-lg-block">
										<a href="corporate.php" class="nav-link">CORPORATE RESPONSIBILITY</a>
									</li>
								</ul>
							</div>
	
						</li>

						<li class="nav-item   corpBlock">
							<a class="nav-link" href="service.php">SERVICES</a>
						</li>

						<li class="nav-item   corpBlock">
							<a class="nav-link" href="about.php">ABOUT US</a>
						</li>

						<li class="nav-item   corpBlock">
							<a class="nav-link" href="corporate.php">CORPORATE RESPONSIBILITY</a>
						</li>


						<li class=" nav-item ">
							<a class="nav-link" href="contact.php">CONTACT</a>
						</li>
					</ul>
				</div>

			</div>
		</nav>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
			    var link = document.querySelector("link[rel='apple-touch-icon']");

			    link.href = "{{ url_for('static', filename='images/favi-57.png') }}";
			});
			document.addEventListener("DOMContentLoaded", function() {
				const dropdown = document.querySelector(".dropdown");
				const dropdownLink = document.querySelector(".dropdown > a");
				const dropdownContent = document.querySelector(".dropdown-content");

				dropdownLink.addEventListener("mouseover", function() {
					dropdownContent.style.display = "block";
					setTimeout(function() {
						dropdownContent.style.opacity = "1"; 
					}, 10);

				});

				dropdown.addEventListener("mouseout", function(event) {
					// Check if the mouse is leaving the dropdown area
					if (!dropdown.contains(event.relatedTarget)) {
						dropdownContent.style.opacity = "0";
						setTimeout(() => {
							dropdownContent.style.display = "none";
						}, 300);
					}
				});
			});
		</script><div class="container justify-content-center">
<div class="text-idea text-center mx-auto mb-5 mt-5" style="max-width: 1280px; background-image: url('{{ url_for('static', filename='images/proposal.jpg') }}'); background-size: cover; background-position: center; height: 380px; background-repeat: no-repeat;">

		<div class="row pt-2">
			<div class="col-md-12" data-aos="fade-up" data-aos-duration="3000">
				<div class="corp">
					<h2>OUR PRODUCTS</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container pb-1">
	<div class="row text-center all_products_card justify-content-center">

	</div>
	<div class="row text-center product_cards" style="padding-top: 20px;">
		
	</div>
</div>
		<div class="row pt-2">
			<div class="col-md-12" data-aos="fade-up" data-aos-duration="3000">
				<div class="corp">
					<h2>Gold Chart</h2>
				</div>
			</div>
		</div>
		<div class="row pt-2">

			<div class="col-md-12" data-aos="fade-up" data-aos-duration="3000">
				<h3 id="hours">(24 Hours)</h3>
			</div>

		</div>

<div class="col-md-12" data-aos="fade-up" data-aos-duration="3000">
  <canvas id="myChart" width="400" height="200"></canvas>
</div>
<div class="container py-4" data-aos="fade-up" data-aos-duration="3000">
	<div class="row">
		<div class="col-lg-12 box-text text-center">
			<p>MS Gold Bullion also specializes in the importation of exceptional precious metals products from renowned mints worldwide, bringing the finest offerings to the Malaysian market. We source our inventory from some of the world's most prestigious mints, ensuring that our customers have access to the highest quality and most sought-after products in the industry.</p>
		</div>
	</div>
</div>

<footer class="site-footer section-padding" id="contact">
	<div class="container" style="max-width: 1128px;">
		<div class="row justify-content-center">
			<div class="col-lg-4 me-auto">
				<h5 class="mb-lg-4 mb-3">INFORMATION</h5>
				<div class="list-icon txt1" style="padding-top: 10px;">
					<p><a href="index.php">HOME</a></p>
					<p><a href="about.php">ABOUT US</a></p>
					<p><a href="corporate.php">CORPORATE RESPONSIBILITY</a></p>
					<p><a href="product.php">PRODUCTS</a></p>
					<p><a href="service.php">SERVICES</a></p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 my-lg-0">
				<h5 class="mb-lg-4 mb-3">CONTACT DETAILS</h5>
				<div class="list-icon" style="padding-top: 10px;">
					<p>MS Gold Bullion Sdn Bhd</p>
					<a href="https://goo.gl/maps/4cnWxztxLxCw52aC9" target="_blank">
						<p class="montsserat">No.7, Jalan 2/131 A, Project Jaya Industrial Estate Batu 6, Jalan Klang Lama, 58200 Kuala Lumpur, Malaysia.</p>
					</a>
					<div class="row">
						<div class="col-md-6">
							<p style="margin: 0;"><a href="tel:+60163317611">+6016 331 7611</a></p>
							<p style="margin: 0;"><a href="tel:+60377831080">+603 7783 1080</a></p>
						</div>
						<div class="col-md-6">
							<div class="image-icon">
								<a href="https://wa.me/60196538807" target="_blank"><img class="img-responsive" src="{{ url_for('static', filename='images/ws.png') }}"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 ms-auto">
				<h5 class="mb-lg-4 mb-3">FOLLOW US</h5>
				<div class="list-icon" style="padding-top: 10px;">
					<ul style="list-style-type:none;">
						<li>
							<a href="http://instagram.com/msgoldbullion" target="_blank"><img class="img-responsive" src="{{ url_for('static', filename='images/ig.png') }}"></a>
						</li>
						<li>
							<a href="http://facebook.com/msgoldbullion" target="_blank"><img class="img-responsive" src="{{ url_for('static', filename='images/fb.png') }}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row text-end">
			<div class="col-lg-12 col-md-12 ms-auto" style="padding-top: 10px;">
				<p style="color: #A6A6A6; font-size:small;"><a href="#" style="color: #A6A6A6;">Privacy Policy </a>|<a href="#" style="color: #A6A6A6;"> Terms Of Use</a> | ©2023 MS Gold Bullion Sdn Bhd (1116436-P). All Rights Reserved.</p>
			</div>
		</div>
	</div>
<footer>

<!-- JAVASCRIPT FILES -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scrollspy.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/aos.js') }}"></script>
<script>AOS.init();</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2278368-89', 'auto');
  ga('send', 'pageview');

</script>

<script>
var datas = [];

function fetchGraphData() {
    fetch("/graph", {
        method: "POST"
    })
    .then(response => response.json())
    .then(data => {
        datas = data;
        updateChart();
    })
    .catch(error => {
        console.error("Error fetching graph data:", error);
    });
}

function updateChart() {
    try {
        var times = datas.map(entry => entry.time);
        var values = datas.map(entry => entry.value);
        var minimumValue = values[0];  // First value of the array
        var maximumValue = values[values.length - 1];

        var ctx = document.getElementById('myChart').getContext('2d');
        if (myChart) {
            myChart.destroy();
        }
        var myChart = new Chart(ctx, {
          type: 'line', // Changed the chart type to 'line'
          data: {
            labels: times,
            datasets: [{
              label: 'Price in MYR',
              data: values,
              borderColor: '#fcba03',
              backgroundColor: 'rgba(255, 179, 3, 0.3)',
              borderWidth: 2,
              fill: true // Fill area under the line
            }]
          },
          options: {
            scales: {
              x: {
                type: 'linear',
                position: 'bottom'
              }
            }
          }
        });
    } catch (chartError) {
        console.error("Error updating chart:", chartError);
    }
}

// Fetch and display graph data initially when the page loads
fetchGraphData();

// Fetch graph data every 10 seconds
setInterval(fetchGraphData, 10000);

function fetchData() {
    var boxImageDiv = document.querySelector(".all_products_card");

    // Clear previous data
    boxImageDiv.innerHTML = "";

    fetch("/data", {
        method: "POST"
    })
    .then(response => response.json())
    .then(data => {
        // Populate the boxImageDiv with fetched data
        data.forEach(item => {
        var content = `
            <div class="col-lg-3 col-md-6 col-12">
                <div class="box-image">
                    <img class="img-responsive" src="static/${item.image_path}" alt='gold'>
                    <h2>${item.product_name}</h2>
                    <span>Au 9999 Pure Gold</span>
                    <h3>RM ${parseFloat(item.price_darkteal) + parseFloat(item.additional_price)}</h3>
                </div>
            </div>
        `;

            boxImageDiv.innerHTML += content;
        });
    })
    .catch(error => {
        console.error("Error fetching data:", error);
    });
}

// Fetch and display data initially when the page loads
fetchData();

// Fetch data every 10 seconds
setInterval(fetchData, 10000);

function fetchCards() {
    var boxImageDiv = document.querySelector(".product_cards");
    boxImageDiv.innerHTML = "";

    fetch("/cards", {
        method: "POST"
    })
    .then(response => response.json())
    .then(data => {
        data.forEach(item => {
        var content = `
            <div class="col-md-6 col-12">
                <div class="box-image">
                    <img class="img-responsive" src="static/${item.image_path}" alt='gold'>
                    <h2>${item.title}</h2>
                    <span>Au 9999 Pure Gold</span>
                    <h3>RM ${parseFloat(item.price_darkteal) + parseFloat(item.additional_price)}</h3>
                </div>
            </div>
        `;

            boxImageDiv.innerHTML += content;
        });
    })
    .catch(error => {
        console.error("Error fetching cards data:", error);
    });
}

// Fetch and display cards data initially when the page loads
fetchCards();

// Fetch cards data every 10 seconds
setInterval(fetchCards, 10000);
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js'></script>

</body></html>